DALL-E==0.1
datasets==2.0.0
diffusers==0.2.4
huggingface-hub==0.9.1
hydra-core==1.2.0
omegaconf==2.2.3
pandas==1.4.4
pytorch-lightning==1.6.0
sentencepiece==0.1.97
torchmetrics==0.9.3
-e git+https://github.com/israfelsr/context-flava.git@748489e66fc3cad8540d8b506fce4238bea88274#egg=torchmultimodal&subdirectory=multimodal
transformers==4.16.0
wandb==0.13.3