Pillow==9.0.1
pytorch-lightning==1.6.0
datasets==2.0.0
requests==2.27.1
DALL-E==0.1
pytorch-lightning==1.6.0
hydra-core==1.2.0
torch==1.12.1
torchmetrics==0.9.3
transformers==4.16.0
pycocotools==2.0.4
wandb